body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #222;
    color: aliceblue;
    text-align: center;
}
img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}